<!-- <section class="page-section portfolio" id="dashboard">

<div class="square-container">

    <div class="square">
      <div class="content">
          medibox
      </div>
    </div>
  
        <div class="square" routerLink="/employees">
            <div class="content spread">              
                <div class="card-link-container"  >medical box</div>
            </div>
          </div>

          <input class="butt" type="button" routerLink="/employees" value="Medi box"/>
          <input class="butt" type="button" routerLink="/employees" value="pick & drop box"/>
          <input class="butt" type="button" routerLink="/employees" value="market box"/>
          <input class="butt" type="button" routerLink="/employees" value="other box"/>
    </div>
      
</section>
     -->
<!-- Portfolio Section-->
<section class="page-section portfolio" id="dashboard">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <!-- <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2> -->
        <!-- Icon Divider-->
        <!-- <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
       -->
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                   <!-- <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="" routerLink="/employees" /> -->
                    <img class="img-fluid" src="assets/img/gobox-assests/books.png" alt="" />

                </div>
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                   <!-- <img class="img-fluid" src="assets/img/portfolio/cake.png" alt="" /> -->
                   <img class="img-fluid" src="assets/img/gobox-assests/business-documents.png" alt="" />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                   <!-- <img class="img-fluid" src="assets/img/portfolio/circus.png" alt="" />-->
                   <img class="img-fluid" src="assets/img/gobox-assests/knit-machine.png" alt="" />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                   <!-- <img class="img-fluid" src="assets/img/portfolio/game.png" alt="" />-->
                   <img class="img-fluid" src="assets/img/gobox-assests/doctor.png" alt="" />
                </div>
            </div>
             <!-- Portfolio Item 5 -->
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                  <!--  <img class="img-fluid" src="assets/img/portfolio/game.png" alt="" />-->
                  <img class="img-fluid" src="assets/img/gobox-assests/shoes.png" alt="" />
                </div>
            </div>
             <!-- Portfolio Item 6-->
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                  <!--  <img class="img-fluid" src="assets/img/portfolio/game.png" alt="" /> -->
                  <img class="img-fluid" src="assets/img/gobox-assests/washing-machine.png" alt="" />
                </div>
            </div>

             <!-- Portfolio Item 7-->
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal7">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                  <!--  <img class="img-fluid" src="assets/img/portfolio/game.png" alt="" /> -->
                  <img class="img-fluid" src="assets/img/gobox-assests/technical-items.png" alt="" />
                </div>
            </div>

             <!-- Portfolio Item 8-->
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal8">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                  <!--  <img class="img-fluid" src="assets/img/portfolio/game.png" alt="" /> -->
                  <img class="img-fluid" src="assets/img/gobox-assests/medicine-items.png" alt="" />
                </div>
            </div>

             <!-- Portfolio Item 9-->
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal9">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                  <!--  <img class="img-fluid" src="assets/img/portfolio/game.png" alt="" /> -->
                  <img class="img-fluid" src="assets/img/gobox-assests/pasta.png" alt="" />
                </div>
            </div>

            
             <!-- Portfolio Item 10-->
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal10">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                  <!--  <img class="img-fluid" src="assets/img/portfolio/game.png" alt="" /> -->
                  <img class="img-fluid" src="assets/img/gobox-assests/pasteries.png" alt="" />
                </div>
            </div>

            
             <!-- Portfolio Item 11-->
             <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal11">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                  <!--  <img class="img-fluid" src="assets/img/portfolio/game.png" alt="" /> -->
                  <img class="img-fluid" src="assets/img/gobox-assests/cigarrates.png" alt="" />
                </div>
            </div>

        </div>

    </div>
</section>